<a href="https://colab.research.google.com/github/Pushpalatha-H/DL/blob/main/4_matrix_math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Matrix multiplication

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
revenue = np.array([[180, 200, 220],[24, 36, 40],[12, 18, 20]])
expenses = np.array([[80, 90, 100],[10, 16, 20],[8, 10, 10]])

**Calculate profit/loss from revenue and expense**

In [ ]:
profit = revenue - expenses
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

**Calculate total sales using matrix multiplication**

In [ ]:
price_per_unit = np.array([1000, 400, 1200])
units = np.array([[30,40,50],[5,10,15],[2,5,7]])

In [ ]:
price_per_unit*units

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

In [ ]:
np.dot(price_per_unit, units)

array([34400, 50000, 64400])