<a href="https://colab.research.google.com/github/Pushpalatha-H/DL/blob/main/4_matrix_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

**Convert USD revenues to INR**

In [6]:
revenues_usd = np.array([[200,220,250],[68,79,105],[110,140,180],[80,85,90]])
revenues_inr = 75*revenues_usd
revenues_inr

array([[15000, 16500, 18750],
       [ 5100,  5925,  7875],
       [ 8250, 10500, 13500],
       [ 6000,  6375,  6750]])

**Calculate total flowers sale every month for divine flowers shop**

In [7]:
units_sold = np.array([[50,60,25],[10,13,5],[40,70,52]])
price_per_unit = np.array([20,30,15])

In [9]:
total_amount = np.dot(price_per_unit, units_sold)
total_amount

array([1900, 2640, 1430])